.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.MuiGrid-grid-xs-12 > .MuiGrid-root.MuiGrid-item {
  padding: 1em !important;
}

.MuiGrid-grid-xs-12 {
  height: 100%;
}

.MuiPaper-root.MuiCard-root {
  height: 100%;
  background-color: black;
  color: white;
  border-radius: 0;
}

#about_me_content > p {
  margin-bottom: 1em;
}

.MuiTypography-root.indented {
  margin-left: 3em;
}

.MuiGrid-spacing-xs-2 > .MuiGrid-item {
  height: 50%;
}

#me_container > .MuiTypography-root {
  width: 100%;
}


.Typist {
  width: 100%;
  font-size: 2em;
}

.Typist .Cursor {
  display: inline-block;
}

.Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.MuiGrid-spacing-xs-2 > * > * > .MuiButtonBase-root.MuiCardActionArea-root {
  height: inherit;
}